body {
    background-color: #f3f4f7;
    background-image: linear-gradient(315deg, #f3f4f7 0%, #caccd1 74%);
}

.box {
    padding: 100px 0;
    text-align: center;
    background: #ddd;
    width: 400px;
    margin: 20px auto;
}

#bookImg {
    width: 200px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #121212;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: cursive;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container > button, div > button {
    padding: 10px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    color: #ddd;
    text-transform: capitalize;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

ul {
    border: 3px solid #121212;
    width: 500px;
}